@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.login {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.react-datetime-picker__wrapper {
  border: none !important;
}

@media only screen and (max-width: 912px) {
  .login {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.leaflet-control-container {
  @apply hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
