# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Dependency directories
*.egg-info/
*.egg
dist/
build/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# IDE and Editor files
.idea/
.vscode/

# Secrets
.env
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
